<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body>
        <!-- Logo desktop -->		
					<a href="index.html" class="logo">
						<img src="./static/data_img/image/1588_00021.jpg" alt="IMG-LOGO">
					</a>
        <div class="container">
            <h1>Deep search engine</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_img"><br>
                <input type="submit">
            </form>
            <h2>Query:</h2>
            <!-- query_path: đường dẫn tới hình ảnh -->	
            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}
            <h2>Results:</h2>
            {% for score in scores %}
            <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <img src="{{ score[1] }}" height="200px">
                <figcaption>{{ score[0] }}</figcaption>
                <div style="text-align: center;
                text-transform: uppercase;
                color:#4CAF50;">
                    <name_product>{{ score[2] }}</name_product> </br>
                </div>
                <name_product>{{ score[2] }}</name_product> </br>
                <price>{{ score[4] }}</price> </br>
                <a href="{{score[3]}}">Xem thêm</a>


            </figure>
            {% endfor %}
        </div>
    </body>
</html>